<header>
		<nav>
			<ul>
				<li>
					<a href="index.php?filter=action">School Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=comedy">Clothing</a>
				</li>
				<li>
					<a href="index.php?filter=family">Skate Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=horror">Running</a>
				</li>
				<li>
					<a href="index.php?filter=horror">Garmin</a>
				</li>
				<li>
					<a href="index.php?filter=horror">GoPro Cameras</a>
				</li>
				<li>
					<a href="index.php?filter=horror">Fitbit Smartwatches</a>
				</li>

				<li>
					<a href="index.php">All</a>
				</li>
			</ul>
		</nav>
</header>