<header>
		<nav>
			<ul>
				<li>
					<a href="index.php?filter=School Shoes">School Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=Clothing">Clothing</a>
				</li>
				<li>
					<a href="index.php?filter=Skate Shoes">Skate Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=Running">Running</a>
				</li>
				<li>
					<a href="index.php?filter=Garmin">Garmin</a>
				</li>
				<li>
					<a href="index.php?filter=GoPro Cameras">GoPro Cameras</a>
				</li>
				<li>
					<a href="index.php?filter=Fitbit Smartwatches">Fitbit Smartwatches</a>
				</li>

				<li>
					<a href="index.php">All</a>
				</li>
			</ul>
		</nav>
</header>